<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div *ngFor="let product of products" class="mb-4 col-md-4">
          <div class="product-card">
            <div class="bg-img product-img" [ngStyle]="{ 'background-image': 'url(' + product.imgUrl + ')'}"></div>
            <div class="card-body">
              <h5 class="card-title bold">{{ product.title }}</h5>
              <h6 class="price">{{ product.price }}$</h6>
              <p class="card-text">{{ product.description }}</p>
              <div class="card-controls">
                <a class="details text-main" [routerLink]="['/','menu', product._id]"><span class="neu">Read
                    More</span></a>
                <app-add-to-cart [pizza]="product"></app-add-to-cart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
